// all the common element styles
.main-container {
    z-index: 0;
    padding: 25px;
}

// buttons
.btn-holder{
    margin-top: 15px;
    
    .btn{
        padding: 15px 35px;
        border-radius: 4px;
        font-weight: $bold;
        text-transform: capitalize;
        color: #fff;
        line-height: 1;
        border: 0;
    
        &:hover,
        &:focus,
        &:active:focus{
          color: #fff;
          outline: none;
          border: 0;
        }
    
        &.grn-fill{
            background: $grn;
            font-weight:$medium;
    
            &:hover,
            &:focus,
            &:active:focus{
                background: $grn;
            }
    
            &.disabled{
                background: #d7d8db;
            }
        }
    
        &.grey-fill{
            background: #7a7d86;
        }
    
        &.only-txt{
            background: none;
            color: $grn;
    
            &:hover,
            &:focus,
            &:active:focus{
                background: none;
                color: $grn;
            }
        }
    
        &.lg{
            width: 100%;
        }
    
        a{
            color: #fff;
        }
        &.green-text{
            color: $grn;
            background: none;
            border: none;
            font-weight:$medium;
            padding: 10px 0 0 0;
    
            &:hover,
            &:focus,
            &:active:focus{
                background: none;
                color: $grn;
                box-shadow: none;
            }
        }
    
    }
}


// form field
.input-group{
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    .input-label{
        color: #9fa2ab;
        font-size: 12px;
        font-weight: $medium;
        margin: 0 0 8px;
    }

    .form-control{
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
        padding: 16px 10px 10px;
        color: #1e222e;
        position: relative;
        z-index: 2;
        font: {
            size: 16px;
            weight: $regular;
        }

        @include placeholder {
            color: #9fa2ab;
            text-transform: capitalize;
        }

        &:focus{
            box-shadow: none;
        }

    }

}

// popup model
.modal{
    display: flex !important;
    align-items: center;
    float: none;
    margin: 0 auto;
    
    &.alert-modal{
        
        .modal-dialog{
            width: 390px;

        }
    }

    .model-inner-holder{
        padding: 40px 50px;

        .modal-header-holder{

            .title{
                color: #1e222e;
                font-size: 22px;
                font-weight: $light;
                text-transform: capitalize;
                margin: 0;
                line-height: 1;
            }


        }

        .modal-body-holder{
            margin-top: 25px;

            .link{
                cursor: pointer;
                color: $blu;
            }

            .label{
                color: #9fa2ab;
                font-size: 12px;
                font-weight: $medium;
                margin: 0 0 8px;
            }

            .input-group{

                .form-control{
                    color: #1e222e;
                    height: 40px;
                    font-size: 14px;
                    padding: 12px 15px 10px;
                }
                
            }

        }

        .modal-footer-holder{
            margin-top: 42px;
            text-align: right;

            .grey-fill{
                margin-right: 30px;

                &.resend-link{
                    padding:15px;
                }
            }

        }

    }
    
    .fa{
        position: absolute;
        top: 3px;
        right: 4px;
        cursor: pointer;
    }

}

// validation alert

.validate{
    
    &.error-msg{
        display: block;
        font-size: 14px;
        color: red;
        text-align: left;
    }

}

// loading animation
.boxLoading {  
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &.sub-page{
      margin-top: 150px;
  }
  &:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  &:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #1A6844;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}


@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

// no padding classes
.no-padding{
    padding: 0;
}

.no-pl{
    padding-left: 0;
}

.no-pr{
    padding-right: 0;
}