//Base temp

//font awesome
@import "./fontawesome/font-awesome";

//Variables
@import "variables";

// mixins
@import "mixins";

html{
	width: 100%;
	height: 100%;
}

body{
	position    : relative;
	height  	: 100%;
	font: {
		family : $font-family;
		size   : $font-size;
	}
	line-height : $line-height;
	color       : $fontClr;
	background 	: #fff;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

::selection {
  background: $grn;
  color: #fff;
}

::-moz-selection {
  background: $grn;
  color: #fff;
}

ul, li{
	list-style-type : none;
	padding         : 0;
	margin          : 0;
}

a{
	color: $grn;
	&:hover,
	&:focus{
		text-decoration : none;
		outline         : 0;
		color: lighten( $grn, 10% );
	}
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: $regular;
}

.container{
	position : relative;
}