//variables

// Global
$font-family    : 'Work Sans', sans-serif;
$font-size      : 16px;
$line-height    : 1.53;

// Font Weights
$elight  : 200;
$light   : 300;
$regular : 400;
$medium  : 500;
$bold    : 700;

//base clrs
$fontClr: #1e222e;
$grn: #0c9447;
$red: #bf1111;
$blu: #0f91be;
$purple: #973EF0;
$light-grey: #9fa2ab;
