.list-user-container{

    .user-list{
        margin-top: 25px;

        .fa{
            cursor: pointer;
            margin-right: 8px;

            &:last-child{
                margin: 0;
            }
            
        }

    }

}