// header styles
header{
    background: #fff;
    position: relative;
    padding: 18px 0 26px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    z-index: 3;

    .branding{
        margin-top: 8px;
        cursor: pointer;

        a{
            color: $grn;
        }

    }

    // Navigation
    @import "./nav";

}