// navigation

.nav-holder{
    position: relative;
    margin-top: 20px;
    overflow: hidden;

    .nav-text{
        display: inline-block;
        margin: 0 20px 0 0;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: $medium;
        line-height: 1;
        color: $light-grey;

        &:last-child{
            margin: 0;
        }

        &:hover{
            color: $grn;
        }

        &.active{
            color: $grn;
        }

        .fa{
            margin-right: 8px;
        }
        
    }

}